<%- include('partials/header')%>

    <head>
        <style>
            /* Dark overlay for background when modal is open */
            #overlay {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
                /* Semi-transparent black */
                z-index: 1050;
                display: none;
            }

            /* Modal should be above the dark overlay */
            #formModal {
                z-index: 1060;
            }
        </style>
    </head>

    <body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
            <%- include('partials/sidebar menu')%>
                <!-- Content Wrapper -->
                <div id="content-wrapper" class="d-flex flex-column">
                    <!-- Main Content -->
                    <div id="content">
                        <%- include('partials/topbar menu')%>
                            <!-- Begin Page Content -->
                            <div class="container-fluid">
                                <!-- Page Heading -->
                                <input type="hidden" name="user" id="user" value="<%= user.name %>">
                                <h3 class="h3 mb-0 text-gray-800">Users</h3>
                                <h5 class="h5 mt-2 text-gray-600">This is data of users</h5>

                                <div class="card shadow mb-4">
                                    <div class="card-header">
                                        <a href="/users/add" class="btn btn-primary btn-icon-split">
                                            <span class="icon text-white-50">
                                                <i class="fa-solid fa-plus"></i></span>
                                            <span class="text">Add</span>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <div class="dataTables_length"><label>Show
                                                                <select name="dataTable_length" id="dataTable_length"
                                                                    aria-controls="dataTable"
                                                                    class="custom-select custom-select-sm form-control form-control-sm">
                                                                    <option value=3>3</option>
                                                                    <option value=10>10</option>
                                                                    <option value=100>100</option>
                                                                </select> entries</label></div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <div id="dataTable_filter" class="dataTables_filter">
                                                            <label>Search:<input type="search" id="search-input"
                                                                    class="form-control form-control-sm" placeholder=""
                                                                    aria-controls="dataTable"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <table class="table table-bordered dataTable" id="dataTable"
                                                            width="100%" cellspacing="0" role="grid"
                                                            aria-describedby="dataTable_info" style="width: 100%;">
                                                            <thead>
                                                                <tr role="row">
                                                                    <th id="useridThead" class="sorting sorting_asc"
                                                                        tabindex="0" aria-controls="dataTable"
                                                                        rowspan="1" colspan="1"
                                                                        aria-label="User ID: activate to sort column descending"
                                                                        style="width: 162px;" aria-sort="ascending">User
                                                                        ID
                                                                    </th>
                                                                    <th id="emailThead" class="sorting" tabindex="0"
                                                                        aria-controls="dataTable" rowspan="1"
                                                                        colspan="1"
                                                                        aria-label="Email: activate to sort column ascending"
                                                                        style="width: 162px;">Email
                                                                    </th>
                                                                    <th id="nameThead" class="sorting" tabindex="0"
                                                                        aria-controls="dataTable" rowspan="1"
                                                                        colspan="1"
                                                                        aria-label="Name: activate to sort column ascending"
                                                                        style="width: 162px;">Name
                                                                    </th>
                                                                    <th id="roleThead" class="sorting" tabindex="0"
                                                                        aria-controls="dataTable" rowspan="1"
                                                                        colspan="1"
                                                                        aria-label="Role: activate to sort column ascending"
                                                                        style="width: 162px;">Role
                                                                    </th>
                                                                    <th style="width: 162px;">
                                                                        Action
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tfoot>
                                                                <tr>
                                                                    <th rowspan="1" colspan="1">User ID</th>
                                                                    <th rowspan="1" colspan="1">Email</th>
                                                                    <th rowspan="1" colspan="1">Name</th>
                                                                    <th rowspan="1" colspan="1">Role</th>
                                                                    <th rowspan="1" colspan="1">Action</th>
                                                                </tr>
                                                            </tfoot>
                                                            <tbody>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-5">
                                                        <div class="dataTables_info" id="dataTable_info" role="status"
                                                            aria-live="polite">Showing 0 to 0 of 0 entries</div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-7">
                                                        <div class="dataTables_paginate paging_simple_numbers"
                                                            id="dataTable_paginate">
                                                            <ul class="pagination">
                                                                
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>

                    <!-- Dark overlay -->
                    <div id="overlay"></div>

                    <!-- Modal Structure -->
                    <div id="formUserModal" class="modal" tabindex="-1" style="display: none;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Delete Confirmation</h5>
                                    <button type="button" class="btn" id="closeUserModal"><i
                                            class="fa-solid fa-xmark"></i></button>
                                </div>
                                <div class="modal-body">
                                    
                                    <div id="deleteConfirmation" style="display:none;">
                                        <p class="mb-0">Are you sure, you want to delete it?</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" id="closeOptionUserModal">Close</button>
                                    <button class="btn btn-primary" id="submitUser">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <%- include('partials/footer')%>
                </div>
        </div>

        <script>
            var readParams = {
                page: 1,
                totalPages: 1,
                limit: 3,
                sortBy: "userid",
                order: "asc",
                query: ''
            }

            const readData = (params) => {
                fetch(`/data/users?${new URLSearchParams(params).toString()}`).then((response) => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.json();
                })
                    .then((response) => {
                        let newParams = { ...params };

                        let useridThead = document.getElementById('useridThead')
                        let emailThead = document.getElementById('emailThead')
                        let nameThead = document.getElementById('nameThead')
                        let roleThead = document.getElementById('roleThead')

                        if (params.sortBy == "userid" && params.order == "asc") {
                            useridThead.className = 'sorting sorting_asc'
                        } else if (params.sortBy == "userid" && params.order == "desc") {
                            useridThead.className = 'sorting sorting_desc'
                        } else {
                            useridThead.className = 'sorting'
                        }

                        if (params.sortBy == "email" && params.order == "asc") {
                            emailThead.className = 'sorting sorting_asc'
                        } else if (params.sortBy == "email" && params.order == "desc") {
                            emailThead.className = 'sorting sorting_desc'
                        } else {
                            emailThead.className = 'sorting'
                        }

                        if (params.sortBy == "name" && params.order == "asc") {
                            nameThead.className = 'sorting sorting_asc'
                        } else if (params.sortBy == "name" && params.order == "desc") {
                            nameThead.className = 'sorting sorting_desc'
                        } else {
                            nameThead.className = 'sorting'
                        }

                        if (params.sortBy == "role" && params.order == "asc") {
                            roleThead.className = 'sorting sorting_asc'
                        } else if (params.sortBy == "role" && params.order == "desc") {
                            roleThead.className = 'sorting sorting_desc'
                        } else {
                            roleThead.className = 'sorting'
                        }

                        let htmlTbody = '';
                        response.data.forEach((item, index) => {
                            if (document.getElementById('user').value == item.name) {
                                htmlTbody += `
                            <tr>
                                <td>${item.userid}</td>
                                <td>${item.email}</td>
                                <td>${item.name}</td>
                                <td>${item.role}</td>
                                <td></td>
                            </tr>
                            `
                            } else {
                                htmlTbody += `
                            <tr>
                                <td>${item.userid}</td>
                                <td>${item.email}</td>
                                <td>${item.name}</td>
                                <td>${item.role}</td>
                                <td><a href="/users/edit/${item.userid}" class="btn btn-success btn-circle" ><i class="fa-solid fa-pen-to-square"></i></a>
                                    <button type="button" class="btn btn-danger btn-circle" onClick="openDeleteModal('${item.email}')"><i class="fa-solid fa-trash-can"></i></button>
                                    </td>
                            </tr>
                            `
                            }
                        })
                        document.querySelector('table tbody').innerHTML = htmlTbody

                        let startingIndex = (response.page - 1) * response.limit

                        let showEntryText = ''
                        if (response.totalData == 0) {
                            showEntryText += `Showing 0 to 0 of 0 entries`
                        } else if (response.page * response.limit > response.totalData || response.limit == 0) {
                            showEntryText += `Showing ${startingIndex + 1} to ${response.totalData} of ${response.totalData}`
                        } else {
                            showEntryText += `Showing ${startingIndex + 1} to ${response.page * response.limit} of ${response.totalData}`
                        }
                        document.getElementById('dataTable_info').innerText = showEntryText

                        let paging = '';
                        let maxPagesToShow = 5;
                        let currentPage = params.page;
                        let totalPages = response.totalPages;

                        if (totalPages > maxPagesToShow) {
                            if (currentPage > 1) {
                                newParams.page = currentPage - 1;
                                paging += `<li class="paginate_button page-item previous enabled"><button type="button" class="page-link" onClick='readData(${JSON.stringify(newParams)})'><span class="text-primary" aria-hidden="true">Previous</span></button></li>`;
                            } else {
                                paging += `<li class="paginate_button page-item previous disabled"><span class="text-gray-600 page-link" aria-hidden="true">Previous</span></li>`;
                            }

                            newParams.page = 1;

                            // Show the first page
                            if (currentPage == 1) {
                                paging += `<li class="page-item active"><button type="button" class="page-link" onClick='readData(${JSON.stringify(newParams)})'>1</button></li>`;
                            } else {
                                paging += `<li class="page-item"><button type="button" class="page-link" onClick='readData(${JSON.stringify(newParams)})'>1</button></li>`;
                            }

                            // Add ellipsis if there are too many pages before the current one
                            if (currentPage > 3) {
                                paging += `<li class="page-item disabled"><span class="page-link">...</span></li>`;
                            }

                            // Show pages around the current page
                            let startPage = Math.max(2, currentPage - 1); // Start from page 2, since 1 is always shown
                            let endPage = Math.min(totalPages - 1, currentPage + 1); // Ensure not to go beyond the second last page

                            for (let i = startPage; i <= endPage; i++) {
                                newParams.page = i;
                                if (currentPage == i) {
                                    paging += `<li class="page-item active"><button type="button" class="page-link" onClick='readData(${JSON.stringify(newParams)})'>${i}</button></li>`;
                                } else {
                                    paging += `<li class="page-item"><button type="button" class="page-link" onClick='readData(${JSON.stringify(newParams)})'>${i}</button></li>`;
                                }
                            }

                            // Add ellipsis if there are too many pages after the current one
                            if (currentPage < totalPages - 2) {
                                paging += `<li class="page-item disabled"><span class="page-link">...</span></li>`;
                            }

                            // Show the last page
                            if (currentPage == totalPages) {
                                newParams.page = totalPages;
                                paging += `<li class="page-item active"><button type="button" class="page-link" onClick='readData(${JSON.stringify(newParams)})'>${totalPages}</button></li>`;
                            } else {
                                newParams.page = totalPages;
                                paging += `<li class="page-item"><button type="button" class="page-link" onClick='readData(${JSON.stringify(newParams)})'>${totalPages}</button></li>`;
                            }

                            if (currentPage < totalPages) {
                                newParams.page = currentPage + 1;
                                paging += `<li class="paginate_button page-item next enabled"><button type="button" class="page-link" onClick='readData(${JSON.stringify(newParams)})'><span class="text-primary" aria-hidden="true">Next</span></button></li>`;
                            } else {
                                paging += `<li class="paginate_button page-item next disabled"><span class="text-gray-600 page-link" aria-hidden="true">Next</span></li>`;
                            }
                        } else {
                            if (!(params.page == 1)) {
                                newParams.page = params.page - 1;
                                paging += `<li class="paginate_button page-item previous enabled"><button type="button" class="page-link" onClick='readData(${JSON.stringify(newParams)})'><span class="text-primary" aria-hidden="true">Previous</span></button></li>`
                            } else {
                                paging += `<li class="paginate_button page-item previous disabled"><span class="text-gray-600 page-link" aria-hidden="true">Previous</span></li>`
                            }

                            newParams.page = 1;
                            for (let i = 1; i <= response.totalPages; i++) {
                                if (response.page == i) {
                                    newParams.page = i;
                                    paging += `<li class="page-item active"><button type="button" class="page-link" onClick='readData(${JSON.stringify(newParams)})'>${i}</button></li>`
                                }
                                else {
                                    newParams.page = i;
                                    paging += `<li class="page-item"><button type="button" class="page-link" onClick='readData(${JSON.stringify(newParams)})'>${i}</button></li>`
                                }
                            }

                            if (!(params.page == response.totalPages)) {
                                newParams.page = params.page + 1
                                paging += `<li class="paginate_button page-item next enabled"><button type="button" class="page-link" onClick='readData(${JSON.stringify(newParams)})'><span class="text-primary" aria-hidden="true">Next</span></button></li>`
                            } else {
                                paging += `<li class="paginate_button page-item next disabled"><span class="text-gray-600 page-link" aria-hidden="true">Next</span></li>`

                            }
                        }
                        document.querySelector('.pagination').innerHTML = paging;
                    })
                    .catch((err) => {
                        console.error(err);
                    });
            }

            readData(readParams)

            const resetForm = () => {
                // document.getElementById('idObj').value = ''
                // document.getElementById("form-search").reset();
            }

            document.getElementById('dataTable_length').addEventListener('change', function () {
                const selectElement = document.getElementById('dataTable_length')
                readParams.limit = parseInt(selectElement.value)
                console.log(readParams)
                readData(readParams)
            });

            document.getElementById('search-input').addEventListener('change', function() {
                const searchInput = document.getElementById('search-input')
                const selectElement = document.getElementById('dataTable_length')
                readParams.limit = parseInt(selectElement.value)
                readParams.query = searchInput.value
                console.log(readParams.query)
                readData(readParams)
            })

            const useridThead = document.getElementById("useridThead")
            const emailThead = document.getElementById("emailThead")
            const nameThead = document.getElementById("nameThead")
            const roleThead = document.getElementById("roleThead")

            useridThead.onclick = function () {
                if (readParams.sortBy != 'userid') {
                    readParams.sortBy = 'userid'
                    readParams.order = 'asc'
                } else if (readParams.order == 'asc') {
                    readParams.order = 'desc'
                } else {
                    readParams.order = 'asc'
                }
                readData(readParams)
            }

            emailThead.onclick = function () {
                if (readParams.sortBy != 'email') {
                    readParams.sortBy = 'email'
                    readParams.order = 'asc'
                } else if (readParams.order == 'asc') {
                    readParams.order = 'desc'
                } else {
                    readParams.order = 'asc'
                }
                readData(readParams)
            }
            nameThead.onclick = function () {
                if (readParams.sortBy != 'name') {
                    readParams.sortBy = 'name'
                    readParams.order = 'asc'
                } else if (readParams.order == 'asc') {
                    readParams.order = 'desc'
                } else {
                    readParams.order = 'asc'
                }
                readData(readParams)
            }
            roleThead.onclick = function () {
                if (readParams.sortBy != 'role') {
                    readParams.sortBy = 'role'
                    readParams.order = 'asc'
                } else if (readParams.order == 'asc') {
                    readParams.order = 'desc'
                } else {
                    readParams.order = 'asc'
                }
                readData(readParams)
            }

            const closeUserModal = document.getElementById('closeUserModal');
            const closeOptionUserModal = document.getElementById('closeOptionUserModal');
            const formUserModal = document.getElementById('formUserModal');
            const submitUser = document.getElementById('submitUser');
            const deleteConfirmation = document.getElementById('deleteConfirmation');
            const overlay = document.getElementById('overlay');

            function openDeleteModal(email) {
                formUserModal.style.display = 'block'
                deleteConfirmation.style.display = 'block'
                overlay.style.display = 'block'
                closeOptionUserModal.innerText = "No"
                submitUser.innerText = "Yes"
                submitUser.onclick = function () { deleteUser(email); }
            }

            function closeModal() {
                formUserModal.style.display = 'none';
                overlay.style.display = 'none';
            }

            closeUserModal.onclick = function () {
                closeModal()
            }

            closeOptionUserModal.onclick = function () {
                closeModal()
            }

            const deleteUser = (email) => {
                fetch(`/data/users/delete/`, {
                    method: 'DELETE',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ email })
                }).then((response) => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.json();
                }).then((response) => {
                    closeModal()
                    readParams.sortBy = 'userid'
                    readParams.order = 'asc'
                    readData(readParams)
                });
            }

        </script>

    </body>

    </html>